body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

#board {
    width: 450px;
    height: 450px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 3px solid black;
}

.cell {
    border: 1px solid #999;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.cell.selected {
    background-color: #cce5ff;
}

.cell.prefilled {
    background-color: #ddd;
    font-weight: bold;
    cursor: default;
}

.cell.wrong {
    background-color: #ffcccc;
}
