body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

#board {
    width: 450px;
    height: 450px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 3px solid black;
}

.cell {
    border: 1px solid #999;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.cell.selected {
    background-color: #cce5ff;
}

.cell.prefilled {
    background-color: #ddd;
    font-weight: bold;
    cursor: default;
}

.cell.wrong {
    background-color: #ffcccc;
}

/* Thicker vertical lines */
.cell:nth-child(9n+1),
.cell:nth-child(9n+4),
.cell:nth-child(9n+7) {
    border-left: 3px solid black;
}

/* Thicker horizontal lines */
.cell:nth-child(-n+9),
.cell:nth-child(n+28):nth-child(-n+36),
.cell:nth-child(n+55):nth-child(-n+63) {
    border-top: 3px solid black;
}
